*{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}

.main-heading{
	height:100px;
	width:100%;
	background-color:blue;
	color:white;
	font-size:30px;
	display:flex;
	justify-content:center;
	align-items:center;
}
.box{
	height:300px;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	gap:15px;
	
}
#stone{
	height:150px;
	width:150px;
	border-radius:50%;
}
#paper{
	height:150px;
	width:150px;
	border-radius:50%;
	float:left;
}
#scissor{
	height:150px;
	width:150px;
	border-radius:50%;
	float:left;
}
img{
	height:150px;
	width:150px;
	object-fit:cover;
	border-radius:50%;
}

#stone:hover{
	opacity:0.5;
}
#paper:hover{
	opacity:0.5;
}
#scissor:hover{
	opacity:0.5;
}
.board-score{
	display:flex;
	justify-content:center;
	font-size:40px;
	font-weight:bold;
	
}
.score{
	text-align:center;
	margin:20px;
}
#msg-container{
	height:60px;
	width:300px;
	background-color:black;
	border-radius:10px;
	margin-left:40%;
	margin-top:20px;
}
#msg{
	display:flex;
	justify-content:center;
	align-items:center;
	color:white;
	font-size:30px;
	padding:10px;
}
	